<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Consul" version="0.7.0.3" targetFramework="net45" />
  <package id="Cronus" version="3.0.2" targetFramework="net45" />
  <package id="Cronus.AtomicAction.Redis" version="0.2.0" targetFramework="net45" />
  <package id="Cronus.DomainModeling" version="3.1.4" targetFramework="net45" />
  <package id="Cronus.Serialization.NewtonsoftJson" version="1.0.1" targetFramework="net45" />
  <package id="Cronus.Transport.RabbitMQ" version="3.0.0" targetFramework="net45" />
  <package id="Elders.Web" version="0.1.10" targetFramework="net45" />
  <package id="IdentityModel" version="1.9.2" targetFramework="net45" />
  <package id="IdentityServer3.AccessTokenValidation" version="2.13.0" targetFramework="net45" />
  <package id="LibLog" version="4.2.6" targetFramework="net45" developmentDependency="true" />
  <package id="log4net" version="2.0.5" targetFramework="net45" />
  <package id="Microsoft.AspNet.Cors" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.IdentityModel.Protocol.Extensions" version="1.0.2.206221351" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.Jwt" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.0.1" targetFramework="net45" />
  <package id="Multithreading.Scheduler" version="1.1.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Pandora" version="0.6.9" targetFramework="net45" />
  <package id="Pandora.Consul" version="0.6.2" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.6.5" targetFramework="net45" />
  <package id="RedLock" version="0.1.0" targetFramework="net45" />
  <package id="StackExchange.Redis" version="1.0.488" targetFramework="net45" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.2.206221351" targetFramework="net45" />
  <package id="Thinktecture.IdentityModel.WebApi.ScopeAuthorization" version="1.0.0" targetFramework="net45" />
</packages>