<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CassandraCSharpDriver" version="3.0.9" targetFramework="net45" />
  <package id="Consul" version="0.7.0.3" targetFramework="net45" />
  <package id="Cronus" version="3.0.2" targetFramework="net45" />
  <package id="Cronus.AtomicAction.Redis" version="0.2.0" targetFramework="net45" />
  <package id="Cronus.DomainModeling" version="3.1.4" targetFramework="net45" />
  <package id="Cronus.Persistence.Cassandra" version="3.1.6" targetFramework="net45" />
  <package id="Cronus.Projections.Cassandra" version="1.1.1" targetFramework="net45" />
  <package id="Cronus.Serialization.NewtonsoftJson" version="1.0.1" targetFramework="net45" />
  <package id="Cronus.Transport.RabbitMQ" version="3.0.1" targetFramework="net45" />
  <package id="LibLog" version="4.2.6" targetFramework="net45" developmentDependency="true" />
  <package id="log4net" version="2.0.5" targetFramework="net45" />
  <package id="log4net.ElasticSearch" version="2.3.3" targetFramework="net462" />
  <package id="lz4net" version="1.0.10.93" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net45" />
  <package id="Multithreading.Scheduler" version="1.1.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="Pandora" version="0.6.9" targetFramework="net45" />
  <package id="Pandora.Consul" version="0.6.2" targetFramework="net45" />
  <package id="PushSharp" version="2.2.1.0" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.6.5" targetFramework="net45" />
  <package id="RedLock" version="0.1.0" targetFramework="net45" />
  <package id="StackExchange.Redis" version="1.0.488" targetFramework="net45" />
</packages>