<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CassandraCSharpDriver" version="3.6.0" targetFramework="net462" />
  <package id="Consul" version="0.7.2.4" targetFramework="net462" />
  <package id="Cronus" version="5.0.0-beta0034" targetFramework="net462" />
  <package id="Cronus.Api" version="5.0.0-beta0005" targetFramework="net462" />
  <package id="Cronus.AtomicAction.Redis" version="2.0.0" targetFramework="net462" />
  <package id="Cronus.DomainModeling" version="4.0.7" targetFramework="net462" />
  <package id="Cronus.Persistence.Cassandra" version="5.0.0-beta0002" targetFramework="net462" />
  <package id="Cronus.Projections.Cassandra" version="5.0.0-beta0015" targetFramework="net462" />
  <package id="Cronus.Serialization.NewtonsoftJson" version="2.1.0" targetFramework="net462" />
  <package id="Cronus.Transport.RabbitMQ" version="5.0.0-beta0003" targetFramework="net462" />
  <package id="Elders.Web.Api" version="0.2.5" targetFramework="net462" />
  <package id="LibLog" version="4.2.6" targetFramework="net462" developmentDependency="true" />
  <package id="log4net" version="2.0.8" targetFramework="net462" />
  <package id="log4net.ElasticSearch" version="2.3.5" targetFramework="net462" />
  <package id="lz4net" version="1.0.15.93" targetFramework="net462" />
  <package id="Microsoft.AspNet.Cors" version="5.2.6" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.6" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.6" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.6" targetFramework="net462" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Options" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Host.HttpListener" version="4.0.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Hosting" version="4.0.0" targetFramework="net462" />
  <package id="Multithreading.Scheduler" version="2.0.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="Owin" version="1.0" targetFramework="net462" />
  <package id="Pandora" version="0.9.0" targetFramework="net462" />
  <package id="Pandora.Consul" version="0.8.0" targetFramework="net462" />
  <package id="RabbitMQ.Client" version="5.0.1" targetFramework="net462" />
  <package id="RedLock" version="3.0.0" targetFramework="net462" />
  <package id="RestSharp" version="106.0.1" targetFramework="net462" />
  <package id="StackExchange.Redis" version="1.2.6" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net462" />
  <package id="System.Collections" version="4.3.0" targetFramework="net462" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net462" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net462" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net462" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net462" />
  <package id="System.Linq" version="4.3.0" targetFramework="net462" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.1" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net462" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net462" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net462" />
  <package id="System.Threading" version="4.3.0" targetFramework="net462" />
</packages>