<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="LZ4" publicKeyToken="62e1b5ec1eec9bdd" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.15.93" newVersion="1.0.15.93" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>