<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cronus" version="5.0.0-beta0034" targetFramework="net462" />
  <package id="Cronus.DomainModeling" version="4.0.7" targetFramework="net462" />
  <package id="Cronus.Migration.Middleware" version="1.0.0-beta0002" targetFramework="net462" />
  <package id="LibLog" version="4.2.6" targetFramework="net462" developmentDependency="true" />
  <package id="log4net" version="2.0.8" targetFramework="net462" />
  <package id="Multithreading.Scheduler" version="2.0.1" targetFramework="net462" />
</packages>